<!DOCTYPE html>
<html lang="english">
  <head>
    <title>home - exported project</title>
    <meta property="og:title" content="home - exported project" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <meta property="twitter:card" content="summary_large_image" />

    <style data-tag="reset-style-sheet">
      html {  line-height: 1.15;}body {  margin: 0;}* {  box-sizing: border-box;  border-width: 0;  border-style: solid;}p,li,ul,pre,div,h1,h2,h3,h4,h5,h6,figure,blockquote,figcaption {  margin: 0;  padding: 0;}button {  background-color: transparent;}button,input,optgroup,select,textarea {  font-family: inherit;  font-size: 100%;  line-height: 1.15;  margin: 0;}button,select {  text-transform: none;}button,[type="button"],[type="reset"],[type="submit"] {  -webkit-appearance: button;}button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner {  border-style: none;  padding: 0;}button:-moz-focus,[type="button"]:-moz-focus,[type="reset"]:-moz-focus,[type="submit"]:-moz-focus {  outline: 1px dotted ButtonText;}a {  color: inherit;  text-decoration: inherit;}input {  padding: 2px 4px;}img {  display: block;}html { scroll-behavior: smooth  }
    </style>
    <style data-tag="default-style-sheet">
      html {
        font-family: Inter;
        font-size: 16px;
      }

      body {
        font-weight: 400;
        font-style:normal;
        text-decoration: none;
        text-transform: none;
        letter-spacing: normal;
        line-height: 1.15;
        color: var(--dl-color-gray-black);
        background-color: var(--dl-color-gray-white);

      }
    </style>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&amp;display=swap"
      data-tag="font"
    />
    <link rel="stylesheet" href="../static/style.css" />
  </head>
  <body>
    <div>
      <link href="../static/home.css" rel="stylesheet" />

      <div class="home-container">
        <div class="home-desktop">
          <div class="home-header5">
            <div class="home-background">
              <img
                alt="image"
                src="https://images.unsplash.com/photo-1532938911079-1b06ac7ceec7?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDE3fHxtZWRpY2FsfGVufDB8fHx8MTY3OTgyOTk4NQ&amp;ixlib=rb-4.0.3&amp;q=80&amp;w=1500"
                class="home-image"
              />
              <div class="home-filter"></div>
            </div>
            <div class="home-container01">
              <div class="home-navbarstyle2navbarlight">
                <div class="home-navbarbrand">
                  <a href = "home.html" class="home-text003 link1">MyHealthMate</a>
                </div>
                <div class="home-collapsenavbarcollapse">
                  <div class="home-navbarnav">
                    <div class="home-li">
                      <div class="home-a">
                        <span class="home-text001 link1">
                          <a href = "medical_history.html" class="home-text003 link1">Medical</a>
                        </span>
                      </div>
                    </div>
                    <div class="home-li1">
                      <div class="home-a1">
                        <a href = "appointments.html" class="home-text004 link1">Appointment</a>
                      </div>
                    </div>
                    <div class="home-li2">
                      <div class="home-a2">
                        <a href="Symptoms_selector_form.html" class="home-text005 link1">
                          AIPrediction
                        </a>
                      </div>
                    </div>
                    
                    
                    <div class="home-li3">
                      <div class="home-a3">
                        <a href="#contact" class="home-text005 link1">
                          Contact
                        </a>
                      </div>
                    </div>
                    
                  </div>
                  <div class="home-navbarnav1">
                    <div class="home-navitem">
                      <!-- <div class="home-buttonbtnprimarycolor">
                        <span class="home-text006 btnText">Sign Up Now</span>
                        <img
                          alt="icnarrowrighticnxs1579"
                          src="public/playground_assets/icnarrowrighticnxs1579-x5xl.svg"
                          class="home-icnarrowrighticnxs"
                        />
                      </div> -->
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="home-container02">
              <div class="home-container03">
                <div class="home-colmd8">
                  <h1 class="home-text007 h11">Fast and Easy</h1>
                  <h4 class="home-text008">
                    <span class="home-text009">
                      This online portal helps you to keep track of your health
                      care providers, Medical History, visits, test results,
                      billing, prescription, and so on.
                    </span>
                    <br class="h41" />
                  </h4>
                  <div class="home-cta">
                    <!-- <div class="home-buttonbtnprimarycolorbtnround">
                      <span class="home-text011">REGISTER NOW</span>
                    </div> -->
                    <a href="#About" class="home-link">
                      <div class="home-buttonbtnprimarycolorbtnoutlinebtnround">
                        <span class="home-text012 btnText">
                          <span>Learn More</span>
                        </span>
                      </div>
                    </a>
                  </div>
                </div>
                <div class="home-colmd4"></div>
              </div>
            </div>
          </div>
          <div id="About" class="home-features6">
            <div class="home-container04">
              <div class="home-row">
                <div class="home-maincontent">
                  <h2 class="home-text014 h21">MY Health Mate</h2>
                  <span class="home-text015">
                    Welcome to MyHealthMate, the next generation of healthcare.
                    Our patient portal is designed to make it easy for you to
                    access and manage your health information, communicate with
                    your healthcare provider, and even predict potential health
                    issues before they arise.
                  </span>
                </div>
              </div>
              <div class="home-row01">
                <div class="home-colmd401">
                  <div class="home-carditem">
                    <div class="home-flexrow">
                      <div class="home-icncirclecirclemd">
                        <img
                          alt="icnresizeicnsm1579"
                          src="../static/public/playground_assets/icnresizeicnsm1579-xg1i.svg"
                          class="home-icnresizeicnsm"
                        />
                      </div>
                      <div class="home-div">
                        <h5 class="home-text016 h51">
                          <span>Emergency Case</span>
                        </h5>
                      </div>
                    </div>
                    <div class="home-cardcontent">
                      <h6 class="home-text018">
                        In an emergency situation, it's important to act
                        quickly.
                      </h6>
                      <h6 class="home-text019 h61">- Call for help</h6>
                      <h6 class="home-text020">- Assess the situation</h6>
                      <h6 class="home-text021">
                        - Check for breathing &amp; pulse
                      </h6>
                      <h6 class="home-text022">
                        <span class="h61">-&nbsp;</span>
                        <span>Communicate with emergency responders:</span>
                      </h6>
                      <span class="home-text025 link1">
                        <span>Learn More</span>
                      </span>
                    </div>
                  </div>
                </div>
                <div class="home-colmd402">
                  <div class="home-carditem01">
                    <div class="home-flexrow01">
                      <div class="home-icncirclecirclemd1">
                        <img
                          alt="icnresizeicnsm1579"
                          src="../static/public/playground_assets/icnresizeicnsm1579-zp2.svg"
                          class="home-icnresizeicnsm1"
                        />
                      </div>
                      <div class="home-div01">
                        <h5 class="home-text027 h51">
                          <span>Cancer Care</span>
                        </h5>
                      </div>
                    </div>
                    <div class="home-cardcontent1">
                      <h6 class="home-text029">
                        Things to keep in mind when caring about a cancer
                        patient.
                      </h6>
                      <h6 class="home-text030">
                        <span class="h61">-&nbsp;</span>
                        <span>Early detection is key</span>
                      </h6>
                      <h6 class="home-text033">
                        <span class="h61">-&nbsp;</span>
                        <span>Communication with healthcare providers:</span>
                      </h6>
                      <h6 class="home-text036">
                        <span class="h61">-&nbsp;</span>
                        <span>Treatment options</span>
                      </h6>
                      <h6 class="home-text039">
                        <span class="h61">-&nbsp;</span>
                        <span>Supportive care</span>
                      </h6>
                      <span class="home-text042 link1">
                        <span>Learn More</span>
                      </span>
                    </div>
                  </div>
                </div>
                <div class="home-colmd403">
                  <div class="home-carditem02">
                    <div class="home-flexrow02">
                      <div class="home-icncirclecirclemd2">
                        <img
                          alt="icnresizeicnsm1579"
                          src="../static/public/playground_assets/icnresizeicnsm1579-gf89.svg"
                          class="home-icnresizeicnsm2"
                        />
                      </div>
                      <div class="home-div02">
                        <h5 class="home-text044 h51">
                          <span>Health Queries</span>
                        </h5>
                      </div>
                    </div>
                    <div class="home-cardcontent2">
                      <h6 class="home-text046">
                        what health related queries can come into your mind.
                      </h6>
                      <h6 class="home-text047">
                        -&nbsp;Communication with healthcare providers
                      </h6>
                      <h6 class="home-text048">
                        <span class="h61">-&nbsp;</span>
                        <span>Reliable sources</span>
                      </h6>
                      <h6 class="home-text051">
                        <span class="h61">-&nbsp;</span>
                        <span>Self-diagnosis</span>
                      </h6>
                      <h6 class="home-text054">
                        <span class="h61">-&nbsp;</span>
                        <span>Second opinions</span>
                      </h6>
                      <h6 class="home-text054">
                        <span class="h61">-&nbsp;</span>
                        <span>Expert opinions</span>
                      </h6>
                      <span class="home-text057 link1">
                        <span>Learn More</span>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="home-testimonials1">
            <div class="home-container05">
              <div class="home-row02">
                <div class="home-maincontent1">
                  <h2 class="home-text059 h21">Doctors/Patients Reviews</h2>
                  <span class="home-text060 paragraph1">
                    <span>
                      <span>
                        Problems trying to resolve the conflict between
                      </span>
                      <br />
                      <span>
                        the two major realms of Classical physics: Newtonian
                        mechanics
                      </span>
                    </span>
                  </span>
                </div>
              </div>
              <div class="home-row03">
                <div class="home-colmd404">
                  <div class="home-carditem03">
                    <div class="home-cardcontent3">
                      <div class="home-stars">
                        <img
                          alt="icnbxsstar1579"
                          src="../static/public/playground_assets/icnbxsstar1579-asfm.svg"
                          class="home-icnbxsstar"
                        />
                        <img
                          alt="icnbxsstar1579"
                          src="../static/public/playground_assets/icnbxsstar1579-gwhg.svg"
                          class="home-icnbxsstar01"
                        />
                        <img
                          alt="icnbxsstar1579"
                          src="../static/public/playground_assets/icnbxsstar1579-h4nw.svg"
                          class="home-icnbxsstar02"
                        />
                        <img
                          alt="icnbxsstar1579"
                          src="../static/public/playground_assets/icnbxsstar1579-2n3w.svg"
                          class="home-icnbxsstar03"
                        />
                        <img
                          alt="icnbxstar1579"
                          src="../static/public/playground_assets/icnbxstar1579-3j84.svg"
                          class="home-icnbxstar"
                        />
                      </div>
                      <h6 class="home-text065">
                        I had an emergency situation and needed to access my
                        medical records quickly. With the doctor patient portal,
                        I was able to access my records and share them with my
                        healthcare provider in no time.&nbsp;
                      </h6>
                      <div class="home-frame2">
                        <div class="home-div03">
                          <div class="home-mediacircleboxxscircle">
                            <img
                              alt="IMAGEuser11579"
                              src="../static/public/playground_assets/imageuser11579-xscs-200h.png"
                              class="home-ima-euser1"
                            />
                          </div>
                          <div class="home-div04"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="home-colmd405">
                  <div class="home-carditem04">
                    <div class="home-cardcontent4">
                      <div class="home-stars1">
                        <img
                          alt="icnbxsstar1579"
                          src="../static/public/playground_assets/icnbxsstar1579-nmj6.svg"
                          class="home-icnbxsstar04"
                        />
                        <img
                          alt="icnbxsstar1579"
                          src="../static/public/playground_assets/icnbxsstar1579-0k4s.svg"
                          class="home-icnbxsstar05"
                        />
                        <img
                          alt="icnbxsstar1579"
                          src="../static/public/playground_assets/icnbxsstar1579-jthv.svg"
                          class="home-icnbxsstar06"
                        />
                        <img
                          alt="icnbxsstar1579"
                          src="../static/public/playground_assets/icnbxsstar1579-nku5.svg"
                          class="home-icnbxsstar07"
                        />
                        <img
                          alt="icnbxstar1579"
                          src="../static/public/playground_assets/icnbxstar1579-p8ss.svg"
                          class="home-icnbxstar1"
                        />
                      </div>
                      <h6 class="home-text066">
                        I love how the portal sends me reminders for upcoming
                        appointments and prescription refills. It's so
                        convenient and has helped me stay on top of my
                        healthcare routine and help me live a healthy life.
                      </h6>
                      <div class="home-frame21">
                        <div class="home-div05">
                          <div class="home-mediacircleboxxscircle1">
                            <img
                              alt="IMAGEuser21579"
                              src="../static/public/playground_assets/imageuser21579-1zp6-200w.png"
                              class="home-ima-euser2"
                            />
                          </div>
                          <div class="home-div06"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="home-colmd406">
                  <div class="home-carditem05">
                    <div class="home-cardcontent5">
                      <div class="home-stars2">
                        <img
                          alt="icnbxsstar1579"
                          src="../static/public/playground_assets/icnbxsstar1579-80hs.svg"
                          class="home-icnbxsstar08"
                        />
                        <img
                          alt="icnbxsstar1579"
                          src="../static/public/playground_assets/icnbxsstar1579-qw6d.svg"
                          class="home-icnbxsstar09"
                        />
                        <img
                          alt="icnbxsstar1579"
                          src="../static/public/playground_assets/icnbxsstar1579-ooyo.svg"
                          class="home-icnbxsstar10"
                        />
                        <img
                          alt="icnbxsstar1579"
                          src="../static/public/playground_assets/icnbxsstar1579-ywl7.svg"
                          class="home-icnbxsstar11"
                        />
                        <img
                          alt="icnbxstar1579"
                          src="../static/public/playground_assets/icnbxstar1579-z47c.svg"
                          class="home-icnbxstar2"
                        />
                      </div>
                      <h6 class="home-text067">
                        The AI-based disease prediction feature is amazing! It
                        gives me peace of mind knowing that I can get an early
                        warning if I'm at risk for certain health conditions.
                        I've already recommended this portal to all my family
                        and friends.
                      </h6>
                      <div class="home-frame22">
                        <div class="home-div07">
                          <div class="home-mediacircleboxxscircle2">
                            <img
                              alt="IMAGEuser31579"
                              src="../static/public/playground_assets/imageuser31579-cj9r-200w.png"
                              class="home-ima-euser3"
                            />
                          </div>
                          <div class="home-div08"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="home-content5">
            <div class="home-div09">
              <div class="home-container06">
                <div class="home-row04">
                  <div class="home-maincontent2">
                    <h2 class="home-text068">FAQ</h2>
                    <span class="home-text069">
                      <span>
                        Here are some frequently asked questions (FAQs)&nbsp;
                      </span>
                      <br />
                      <span>about a doctor patient portal and</span>
                      <br />
                      <span>how Ai is been used in this portal.</span>
                      <br />
                      <br />
                    </span>
                  </div>
                </div>
              </div>
              <div class="home-container07">
                <div class="home-row05">
                  <div class="home-colmd407">
                    <div class="home-carditem06">
                      <div class="home-flexrow03">
                        <img
                          alt="icnarrowrighticnxs1579"
                          src="../static/public/playground_assets/icnarrowrighticnxs1579-fgch.svg"
                          class="home-icnarrowrighticnxs01"
                        />
                        <div class="home-div10">
                          <h5 class="home-text077">
                            What is a doctor patient portal?
                          </h5>
                          <h6 class="home-text078 h61">
                            <span>
                              <span>Things on a very small scale</span>
                              <br />
                              <span>behave like nothing</span>
                            </span>
                          </h6>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="home-colmd408">
                    <div class="home-carditem07">
                      <div class="home-flexrow04">
                        <img
                          alt="icnarrowrighticnxs1579"
                          src="../static/public/playground_assets/icnarrowrighticnxs1579-pqvf.svg"
                          class="home-icnarrowrighticnxs02"
                        />
                        <div class="home-div11">
                          <h5 class="home-text083">
                            How do I sign up for the doctor patient portal?
                          </h5>
                          <h6 class="home-text084 h61">
                            <span>
                              <span>Things on a very small scale</span>
                              <br />
                              <span>behave like nothing</span>
                            </span>
                          </h6>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="home-colmd409">
                    <div class="home-carditem08">
                      <div class="home-flexrow05">
                        <img
                          alt="icnarrowrighticnxs1579"
                          src="../static/public/playground_assets/icnarrowrighticnxs1579-eehm.svg"
                          class="home-icnarrowrighticnxs03"
                        />
                        <div class="home-div12">
                          <h5 class="home-text089">
                            <span>Is the portal secure?</span>
                            <br class="h51" />
                          </h5>
                          <h6 class="home-text092 h61">
                            <span>
                              <span>Things on a very small scale</span>
                              <br />
                              <span>behave like nothing</span>
                            </span>
                          </h6>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="home-row06">
                  <div class="home-colmd410">
                    <div class="home-carditem09">
                      <div class="home-flexrow06">
                        <img
                          alt="icnarrowrighticnxs1579"
                          src="../static/public/playground_assets/icnarrowrighticnxs1579-c2j.svg"
                          class="home-icnarrowrighticnxs04"
                        />
                        <div class="home-div13">
                          <h5 class="home-text097">
                            What if I have technical difficulties using the
                            portal?
                          </h5>
                          <h6 class="home-text098 h61">
                            <span>
                              <span>Things on a very small scale</span>
                              <br />
                              <span>behave like</span>
                            </span>
                          </h6>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="home-colmd411">
                    <div class="home-carditem10">
                      <div class="home-flexrow07">
                        <img
                          alt="icnarrowrighticnxs1579"
                          src="../static/public/playground_assets/icnarrowrighticnxs1579-kgf9.svg"
                          class="home-icnarrowrighticnxs05"
                        />
                        <div class="home-div14">
                          <h5 class="home-text103">
                            How does the AI-based disease prediction work?
                          </h5>
                          <h6 class="home-text104 h61">
                            <span>
                              <span>Things on a very small scale</span>
                              <br />
                              <span>behave like</span>
                            </span>
                          </h6>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="home-colmd412">
                    <div class="home-carditem11">
                      <div class="home-flexrow08">
                        <img
                          alt="icnarrowrighticnxs1579"
                          src="../static/public/playground_assets/icnarrowrighticnxs1579-kc24.svg"
                          class="home-icnarrowrighticnxs06"
                        />
                        <div class="home-div15">
                          <h5 class="home-text109">
                            Can I access the portal from my mobile device?
                          </h5>
                          <h6 class="home-text110 h61">
                            <span>
                              <span>Things on a very small scale</span>
                              <br />
                              <span>behave like</span>
                            </span>
                          </h6>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="home-row07">
                  <div class="home-colmd413">
                    <div class="home-carditem12">
                      <div class="home-flexrow09">
                        <img
                          alt="icnarrowrighticnxs1579"
                          src="../static/public/playground_assets/icnarrowrighticnxs1579-rqfr.svg"
                          class="home-icnarrowrighticnxs07"
                        />
                        <div class="home-div16">
                          <h5 class="home-text115">
                            What features does the portal have?
                          </h5>
                          <h6 class="home-text116 h61">
                            <span>
                              <span>Things on a very small scale</span>
                              <br />
                              <span>behave</span>
                            </span>
                          </h6>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="home-colmd414">
                    <div class="home-carditem13">
                      <div class="home-flexrow10">
                        <img
                          alt="icnarrowrighticnxs1579"
                          src="../static/public/playground_assets/icnarrowrighticnxs1579-ptls.svg"
                          class="home-icnarrowrighticnxs08"
                        />
                        <div class="home-div17">
                          <h5 class="home-text121">
                            Can I share my medical records with other healthcare
                            providers?
                          </h5>
                          <h6 class="home-text122 h61">
                            <span>
                              <span>Things on a very small scale</span>
                              <br />
                              <span>behave like</span>
                            </span>
                          </h6>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="home-colmd415">
                    <div class="home-carditem14">
                      <div class="home-flexrow11">
                        <img
                          alt="icnarrowrighticnxs1579"
                          src="../static/public/playground_assets/icnarrowrighticnxs1579-i82.svg"
                          class="home-icnarrowrighticnxs09"
                        />
                        <div class="home-div18">
                          <h5 class="home-text127">
                            Is there a fee to use the portal?
                          </h5>
                          <h6 class="home-text128 h61">
                            <span>
                              <span>Things on a very small scale</span>
                              <br />
                              <span>behave like</span>
                            </span>
                          </h6>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="home-contact5">
            <div id="contact" class="home-container08">
              <div class="home-row08">
                <div class="home-colmd5">
                  <h2 class="home-text133 h21"><span>Get In Touch</span></h2>
                  <span class="home-text135">
                    Get daily Health care related articles and blogs suggestions
                    on your personal email.&nbsp;&nbsp;
                  </span>
                </div>
                <div class="home-colmd51">
                  <div class="home-customformgroupsubscribe">
                    <div class="home-inputgroup">
                      <div class="home-formcontrolinputstyle1">
                        <span class="home-text136">
                          <span>Your Email</span>
                        </span>
                      </div>
                      <div class="home-inputgroupappend">
                        <div class="home-btn">
                          <span class="home-text138">
                            <span>Subscribe</span>
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="home-footer1">
            <div class="home-div19">
              <div class="home-container09">
                <div class="home-row09">
                  <div class="home-colmd3">
                    <h3 class="home-text140 h31"><span>Get In Touch</span></h3>
                    <span class="home-text142 paragraph1">
                      <span>
                        <span>the quick fox jumps over the</span>
                        <br />
                        <span>lazy dog</span>
                      </span>
                    </span>
                    <div class="home-socialmedia">
                      <div class="home-facebook">
                        <img
                          alt="antdesignfacebookfilled1579"
                          src="../static/public/playground_assets/antdesignfacebookfilled1579-r1t.svg"
                          class="home-antdesignfacebookfilled"
                        />
                      </div>
                      <div class="home-instagram">
                        <img
                          alt="antdesigninstagramoutlined1579"
                          src="../static/public/playground_assets/antdesigninstagramoutlined1579-qc8v.svg"
                          class="home-antdesigninstagramoutlined"
                        />
                      </div>
                      <div class="home-twitter">
                        <img
                          alt="antdesigntwitteroutlined1579"
                          src="public/playground_assets/antdesigntwitteroutlined1579-d50d.svg"
                          class="home-antdesigntwitteroutlined"
                        />
                      </div>
                    </div>
                  </div>
                  <div class="home-colmd31">
                    <h3 class="home-text147 h31"><span>Company info</span></h3>
                    <div class="home-div20">
                      <span class="home-text149 link1">
                        <span>About Us</span>
                      </span>
                      <span class="home-text151 link1">
                        <span>Carrier</span>
                      </span>
                      <span class="home-text153 link1">
                        <span>We are hiring</span>
                      </span>
                      <span class="home-text155 link1"><span>Blog</span></span>
                    </div>
                  </div>
                  <div class="home-colmd32">
                    <h3 class="home-text157 h31"><span>Features</span></h3>
                    <div class="home-div21">
                      <span class="home-text159 link1">Disease prediction</span>
                      <span class="home-text160 link1">Appointment</span>
                      <span class="home-text161 link1">
                        <span>Live Chat</span>
                      </span>
                      <span class="home-text163 link1">
                        <span>Unlimited Support</span>
                      </span>
                    </div>
                  </div>
                  <div class="home-colmd33">
                    <h3 class="home-text165 h31"><span>Resources</span></h3>
                    <div class="home-div22">
                      <span class="home-text167 link1">
                        <span>IOS &amp; Android</span>
                      </span>
                      <span class="home-text169 link1">
                        <span>Watch a Demo</span>
                      </span>
                      <span class="home-text171 link1">
                        <span>Customers</span>
                      </span>
                      <span class="home-text173 link1"><span>API</span></span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
