/* Global Styles */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/* Header Styles */

header {
    background-color: #6fedeb;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

h1 {
  margin: 0;
  font-size: 36px;
}

nav {
  margin-top: 10px;
}

nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  margin: 0 10px;
}

nav li a {
  color: #fff;
  text-decoration: none;
}

/* Main Styles */

main {
  padding: 20px;
  background-image: url('symptoms1.jpg');
}

h2 {
  margin-top: 0;
}

form {
  width: 50%;
  margin: 0 auto;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="date"], select, textarea {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
}
input[type="time"], select, textarea {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
}
input[type="submit"] {
    background-color: #6fedeb;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #00264d;
}

/* Footer Styles */

footer {
  background-color: #ddd;
  color: #333;
  padding: 20px;
  text-align: center;
}
